@model IEnumerable<MvcApplicationLogin.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });
      
        $("#openDialog").live("click", function (e) {
            e.preventDefault();
            var url = $(this).attr('href');

            $("#dialog-edit").dialog({
                title: 'filter the employees with salary range and department',
                autoOpen: false,
                resizable: false,
                height: 600,
                width: 500,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-edit").dialog('open');
            return false;
        });
    });
</script>


<div id="div1"> @Html.ActionLink("Filter", "Result", "Employee", null, new { @id = "openDialog" })</div>
 <div id="dialog-edit" style:"display:none">
    </div>
  


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DeptName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DeptName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeID })
        </td>
    </tr>
}

</table>
